{% extends "base.html" %} {% block content %}
<h2>My Notes</h2>
<p></p>
<h4>Completed</h4>
<ul>
  <li>Participants MMSE 10-25 (show patients without transcripts?)</li>
  <li>Visit 1 Transcript Data</li>
  <li>Visit 2 Transcript Data</li>
  <li>Visit 3 Transcript Data</li>
  <li>Visit 4 Transcript Data</li>
  <li>Text of Transcripts</li>
</ul>
<p></p>
<h4>NOT Completed</h4>

<ul>
  <li>View by Participant</li>
  <li>View by Sex</li>
  <li>View by Parts of Speech</li>
  <li>Graphs?</li>
  <li>About</li>
  <li>Customize MMSE Score</li>
</ul>

{% endblock %}
