{% extends "base.html" %} {% block content %}
<script src="/static/js/my_scripts.js"></script>
<div name="list_files">
  <h2 class="mt-4 mb-2">Participants with MMSE Scores from {{num1}}-{{num2}} at initial visit</h2>

  <table id="myTable" class="table table-striped table-hover table-bordered table-responsive" style="border: 0px red solid">
    <thead>
      <th>Par_ID</th>
      <th>Sex</th>
      <th>MMSE1</th>
      <th>MMSE2</th>
      <th>MMSE3</th>
      <th>MMSE4</th>
    </thead>
    <tbody>
      {%for v in visit%}
      <tr class="text-center">
        <td>{{v.par_id}}</td>
        <td>{{v.sex}}</td>
        <td>{{v.mmse1}}</td>
        <td>{% if v.mmse2 is not none %}{{v.mmse2}}{% endif %}</td>
        <td>{% if v.mmse3 is not none %}{{v.mmse3}}{% endif %}</td>
        <td>{% if v.mmse4 is not none %}{{v.mmse4}}{% endif %}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  <script>
    $("#myTable").DataTable({
      pageLength: 90,
      filter: true,
      deferRender: true,
      //scrollY: 1200,
      scrollCollapse: true,
      scroller: true,
      //ordering: true,
      select: true,
      bSort: true,
      order: [[0, "asc"]],
    });
  </script>
</div>
{% endblock %}
